.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle-white {
  background-color: white;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 200px 57px -191px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 200px 57px -191px rgba(0,0,0,1);
  box-shadow: inset 0px 200px 57px -191px rgba(0,0,0,1);
}