.playGame{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.picked{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.playGame_title{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.btn_playGame{
  background-color: white;
  border: none;
  color: hsl(214, 47%, 23%);
  padding: 7px 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  margin-top: 30px;
  cursor: pointer;
}
.btn_playGame:hover{
  color: hsl(349, 71%, 52%);
}

.victory{
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 480px) {
  .playGame{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .youPicked{
    grid-row: 1;
    grid-column: 1 / 2;
  }
  .randomPicked{
    grid-row: 1;
    grid-column: 2 / 3;
  }
  .you_victory{
    grid-row: 2;
    grid-column: 1 / 3;
    margin: auto;
  }
  .btn_playGame{
    padding: 20px 50px;
  }
}