.rules{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top_rules{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.class_rules{
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.rules_close{
  cursor: pointer;
}
.flotante_rules{
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 37%;
}
.activadoRules{
  visibility: visible;
}
@media only screen and (max-width: 480px) {
  .rules{
    width: 115%;
    height: 100vh;
  }
  .flotante_rules{
    top: 0;
    left: 0;
  }
  .top_rules{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .rules_close{
    position: absolute;
    top: 90vh;
  }
}