.bloque{
  width: 60%;
  margin: 0px auto;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
}
.score{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 10rem;
  border-radius: 1rem;
}
.score_title{
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
.score_point{
  color: hsl(229, 25%, 31%);
  font-size: 4rem;
  font-weight: 700;
}

/* Hasta 375px */
@media only screen and (max-width: 375px ) {
  .bloque{
    width: 100%;
  }
  .bloque img{
    width: 100px;
  }
  .score{
    width: 9rem;
    height: 9rem;
  }
}
/* Hasta 390px */
@media only screen and (max-width: 390px) {
  .bloque{
    width: 100%;
  }
  .bloque img{
    width: 100px;
  }
  .score{
    width: 9rem;
    height: 9rem;
  }
}
/* Estilos para dispositivos móviles (hasta 375px) */
@media only screen and (max-width: 375px) {
  .bloque{
    width: 100%;
  }
  .bloque img{
    width: 100px;
  }
  .score{
    width: 9rem;
    height: 9rem;
  }
}
/* Estilos para dispositivos móviles en orientación vertical */
@media only screen and (max-width: 375px) and (orientation: portrait) {

}
/* Estilos para dispositivos móviles (hasta 480px) */
@media only screen and (max-width: 480px) {
  .bloque{
    width: 100%;
  }
  .bloque img{
    width: 100px;
  }
  .score{
    width: 9rem;
    height: 9rem;
  }
}
/* Estilos para dispositivos móviles en orientación vertical */
@media only screen and (max-width: 480px) and (orientation: portrait) {

}