.triangle-selector {
  background-image: url("../assets//images//bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  gap: 70px;
}

.paper {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissors {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rock {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.order1{
  grid-column: 1;
  grid-row: 1;
}
.order2{
  grid-column: 2;
  grid-row: 1;
}
.order3{
  grid-column: 1 / 3;
  grid-row: 2;
  margin: auto;
}
