@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body{
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.capaOculta{
  display: none;
}

.juego {
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn_rules {
  display: flex;
  justify-content: end;
  margin-right: 120px;
  margin-top: 50px;
}
.rules_btn {
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid white;
  padding: .5rem 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  border-radius: .5rem;
  cursor: pointer;
}

.activoRules {
  background-color: var(--HeaderOutline);
  opacity: 0.3;
}

@media only screen and (max-width: 480px) {
  .juego{
    padding: 10px;
  }
  .rules_btn{
    padding: 1.5rem 4rem;
  }
  .btn_rules{
    margin: 4rem auto;
  }
}
